@import "utils/vars";
@import "components/button";
@import "components/content";
@import "components/hero";
@import "components/logo";
@import "components/modal";
@import "components/navigation";
@import "components/newsletter-form";
@import "components/order-form";
@import "components/page-header";
@import "components/portfolio-gallery";
@import "components/social-links";
@import "components/page-footer";

// GLOBAL SELECTORS
body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $textColor;
}

p,
h1,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

// SECTION, CONTAINER
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;

  &__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $textColor;
    margin-bottom: 50px;
  }
}

.no-gap {
  display: block;
}
