// NAVBAR: LOGO + NAV + CONTACT-LIST
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// MAIN NAVIGATION
.nav {
  display: flex;

  &item:not(:last-child) {
    margin-right: 32px;
  }
}

// CONTACT LIST
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

// LINK STYLES
.nav__link {
  color: $textColor;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav__link--active {
  color: $brandColor;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    top: 45px;
    background-color: $brandColor;
    border-radius: 2px;
  }
}

.contact-list__link {
  color: var(--font-color-light-gray);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

// CONTACT ICONS
.contact-list__icon {
  margin-right: 10px;
  fill: var(--font-color-light-gray);
  transition: fill $shift;

  .contact-list__link & {
    fill: $brandColor;
  }
}

// COMMON STYLES & add transition to links
.nav__link,
.contact-list__link {
  transition: color $shift;
}

.nav__link:hover,
.nav__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
  color: $brandColor;
}
